src/main/resources/wsdl/demo4.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="urn:sap-com:document:sap:rfc:functions">
    <xsd:element name="BAPI_GOODSMVT_CREATE.Response">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="GOODSMVT_HEADRET" type="BAPI2017_GM_HEAD_RET" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Material Document Number/Material Document Year</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MATDOCUMENTYEAR" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Material Document Year</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="4"/>
                            <xsd:pattern value="\d+"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MATERIALDOCUMENT" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Number of Material Document</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="EXTENSIONIN" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Reference Structure for BAPI Parameters EXTENSIONIN/EXTENSIONOUT
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="BAPIPAREX" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="GOODSMVT_ITEM">
                    <xsd:annotation>
                        <xsd:documentation>Material Document Items</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="BAPI2017_GM_ITEM_CREATE" minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="GOODSMVT_SERIALNUMBER" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Serial Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="BAPI2017_GM_SERIALNUMBER" minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="GOODSMVT_SERV_PART_DATA" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="_-SPE_-BAPI2017_SERVICEPART_DATA" minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="RETURN">
                    <xsd:annotation>
                        <xsd:documentation>Return Messages</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="time">
        <xsd:union memberTypes="xsd:time genericTime" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                   xmlns="urn:sap-com:document:sap:rfc:functions"/>
    </xsd:simpleType>
    <xsd:simpleType name="date">
        <xsd:union memberTypes="xsd:date genericDate" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                   xmlns="urn:sap-com:document:sap:rfc:functions"/>
    </xsd:simpleType>
    <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="....-..-.."/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="genericTime">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="..:..:.."/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="BAPIRET2">
        <xsd:annotation>
            <xsd:documentation>Return Parameter</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message Class</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MESSAGE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message Text</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LOG_NO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Application log: log number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LOG_MSG_NO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MESSAGE_V1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message Variable</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MESSAGE_V2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message Variable</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MESSAGE_V3" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message Variable</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MESSAGE_V4" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Message Variable</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PARAMETER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Parameter Name</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ROW" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Lines in parameter</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FIELD" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Field in parameter</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SYSTEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Logical system from which message originates</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="_-SPE_-BAPI2017_SERVICEPART_DATA">
        <xsd:annotation>
            <xsd:documentation>BAPI Communication Structure: Service Parts Data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="LINE_ID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unique identification of document line</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RET_AUTH_NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Return Material Authorization Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DELIV_NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DELIV_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery Item</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="HU_NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>External Handling Unit Identification</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="INSPOUT_GUID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Inspection Outcome: Stock GUID set by EWM</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="EVENT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Logical time</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DATE" type="date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TIME" type="time" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Time</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ZONLO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Time Zone</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TIMESTAMP" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Start time of transaction (UTC time stamp)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="15"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SCRAP_INDICATOR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Scrap Indicator for EWM Processing</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="KEEP_QUANTITY" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Retention Quantity for Scrap. Process in EWM</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="GTS_STOCK_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>GTS Stock Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_GTS_STOCK_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>GTS Stock Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="KEEP_QUANTITY_CONVERSION" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Quantity conversion not necessary</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ZERO_QUANTITY" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Allow Posting of Goods Movement Despite Zero Quantity</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NUMERATOR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Numerator (factor) for conversion of sales quantity into SKU</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="5"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DENOMINATR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Denominator (Divisor) for Conversion of Sales Qty into SKU</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="5"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="INSP_DOC_NUMB" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>SAP EWM Inspection Document Number for External Inspections</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PCHG_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Type of Reference Between Inspection Lot and Material Doc.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPI2017_GM_HEAD_RET">
        <xsd:annotation>
            <xsd:documentation>MMIM: Output Structure For General FM To Post Goods Movement</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MAT_DOC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Number of Material Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DOC_YEAR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Material Document Year</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPIPAREX">
        <xsd:annotation>
            <xsd:documentation>Ref. structure for BAPI parameter ExtensionIn/ExtensionOut</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="STRUCTURE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Structure name of BAPI table extension</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VALUEPART1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="240"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VALUEPART2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="240"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VALUEPART3" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="240"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VALUEPART4" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="240"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPI2017_GM_SERIALNUMBER">
        <xsd:annotation>
            <xsd:documentation>BAPI Communication Structure: Create Mat. Doc., Serial No.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MATDOC_ITM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Item in Material Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SERIALNO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Serial Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UII" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unique Item Identifier</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="72"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BAPI2017_GM_ITEM_CREATE">
        <xsd:annotation>
            <xsd:documentation>BAPI Communication Structure: Create Material Document Item</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MATERIAL" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Material Number (18 Characters)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PLANT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Plant</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STGE_LOC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage Location</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="BATCH" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Batch Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Movement type (inventory management)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STCK_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stock Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SPEC_STOCK" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Special Stock Indicator</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VENDOR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vendor&apos;s account number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CUSTOMER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Account Number of Customer</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SALES_ORD" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Sales Order Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="S_ORD_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Item Number in Sales Order</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SCHED_LINE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery Schedule for Sales Order</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VAL_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Valuation Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ENTRY_QNT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Quantity in Unit of Entry</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ENTRY_UOM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unit of Entry</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ENTRY_UOM_ISO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ISO code for unit of measurement</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PO_PR_QNT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Quantity in Purchase Order Price Unit</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ORDERPR_UN" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Order Price Unit (Purchasing)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ORDERPR_UN_ISO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ISO code for unit of measurement</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PO_NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Purchase Order Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PO_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Item Number of Purchasing Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SHIPPING" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Shipping Instructions</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="COMP_SHIP" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Compliance with Shipping Instructions</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NO_MORE_GR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>&quot;Delivery Completed&quot; Indicator</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ITEM_TEXT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Item Text</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="GR_RCPT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Goods Recipient</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UNLOAD_PT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unloading Point</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="25"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="COSTCENTER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cost Center</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ORDERID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Order Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ORDER_ITNO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Order Item Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CALC_MOTIVE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Accounting Indicator</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ASSET_NO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Main Asset Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SUB_NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Asset Subnumber</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RESERV_NO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Number of Reservation/Dependent Requirement</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RES_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Item Number of Reservation/Dependent Requirement</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RES_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Record type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="WITHDRAWN" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Final Issue for Reservation</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_MAT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Receiving/Issuing Material</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_PLANT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Receiving/Issuing Plant</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_STLOC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Receiving/Issuing Storage Location</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_BATCH" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Receiving/Issuing Batch</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_VAL_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Valuation Type of Transfer Batch</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MVT_IND" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Movement Indicator</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_REAS" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Reason for Movement</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RL_EST_KEY" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Internal Key for Real Estate Object</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="REF_DATE" type="date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Reference date for settlement</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="COST_OBJ" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cost Object</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROFIT_SEGM_NO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Profitability Segment Number (CO-PA)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROFIT_CTR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Profit Center</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="WBS_ELEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Work Breakdown Structure Element (WBS Element)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="24"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NETWORK" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Network Number for Account Assignment</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ACTIVITY" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Activity Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PART_ACCT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Partner Account Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AMOUNT_LC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Externally entered posting amount in local currency</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="23"/>
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AMOUNT_SV" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Externally entered sales value in local currency</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="23"/>
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="REF_DOC_YR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Fiscal Year of a Reference Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="REF_DOC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document No. of a Reference Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="REF_DOC_IT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Item of a Reference Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="EXPIRYDATE" type="date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Shelf Life Expiration or Best-Before Date</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PROD_DATE" type="date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Date of Manufacture</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FUND" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Fund</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FUNDS_CTR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Funds Center</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CMMT_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Commitment Item</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="14"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VAL_SALES_ORD" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Sales Order Number of Valuated Sales Order Stock</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VAL_S_ORD_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Sales Order Item of Valuated Sales Order Stock</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VAL_WBS_ELEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Work Breakdown Structure Element (WBS Element)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="24"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="GL_ACCOUNT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>G/L Account Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IND_PROPOSE_QUANX" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Propose quantities</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="XSTOB" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Use Reversal Movement Type Indicator</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="EAN_UPC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>International Article Number (EAN/UPC)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DELIV_NUMB_TO_SEARCH" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DELIV_ITEM_TO_SEARCH" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery Item</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SERIALNO_AUTO_NUMBERASSIGNMENT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Create serial number automatically</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="VENDRBATCH" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Supplier Batch Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STGE_TYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STGE_BIN" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage Bin</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SU_PL_STCK_1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Number of Storage Units to be Placed Into Storage</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ST_UN_QTYY_1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Quantity per Storage Unit to be Placed into Stock in Alt.UoM</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ST_UN_QTYY_1_ISO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ISO code for unit of measurement</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UNITTYPE_1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage Unit Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SU_PL_STCK_2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Number of Storage Units to be Placed Into Storage</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ST_UN_QTYY_2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Quantity per Storage Unit to be Placed into Stock in Alt.UoM</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ST_UN_QTYY_2_ISO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ISO code for unit of measurement</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UNITTYPE_2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage Unit Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STGE_TYPE_PC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage type for transfer posting</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STGE_BIN_PC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage bin for transfer posting</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NO_PST_CHGNT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indicator: Do not create posting change notice</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="GR_NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Goods Receipt Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STGE_TYPE_ST" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage type for stock transfer</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STGE_BIN_ST" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Storage bin for stock transfer</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MATDOC_TR_CANCEL" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Material doc. no. of transfer requirement to be cancelled</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MATITEM_TR_CANCEL" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Material doc. item of transf.reqmnt item to be cancelled</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MATYEAR_TR_CANCEL" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Material doc. year of transfer requirement to be cancelled</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NO_TRANSFER_REQ" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indicator: No Transfer Requirement Created</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CO_BUSPROC" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Business Process</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ACTTYPE" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Activity Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SUPPL_VEND" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Goods Supplier</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MATERIAL_EXTERNAL" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Long Material Number for MATERIAL Field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MATERIAL_GUID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>External GUID for MATERIAL Field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MATERIAL_VERSION" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Version Number for MATERIAL Field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_MAT_EXTERNAL" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Long Material Number for MOVE_MAT Field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_MAT_GUID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>External GUID for MOVE_MAT Field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_MAT_VERSION" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Version Number for MOVE_MAT Field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FUNC_AREA" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Functional Area</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TR_PART_BA" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Trading partner&apos;s business area</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PAR_COMPCO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Clearing company code</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DELIV_NUMB" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DELIV_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Delivery Item</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NB_SLIPS" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Number of GR/GI Slips to Be Printed</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NB_SLIPSX" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Updated information in related user data field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="GR_RCPTX" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Updated information in related user data field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UNLOAD_PTX" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Updated information in related user data field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SPEC_MVMT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Special movement indicator for warehouse management</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="GRANT_NBR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Grant</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CMMT_ITEM_LONG" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Commitment Item</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="24"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FUNC_AREA_LONG" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Functional Area</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LINE_ID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unique identification of document line</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PARENT_ID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifier of immediately superior line</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LINE_DEPTH" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Hierarchy level of line in document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="QUANTITY" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Quantity</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="BASE_UOM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Base Unit of Measure</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LONGNUM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Smart Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="BUDGET_PERIOD" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>FM: Budget Period</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="EARMARKED_NUMBER" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document Number for Earmarked Funds</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="EARMARKED_ITEM" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Earmarked Funds: Document Item</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                        <xsd:pattern value="\d+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STK_SEGMENT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stock Segment</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_SEGMENT" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Receiving/Issuing Stock Segment</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MATERIAL_LONG" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Material Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOVE_MAT_LONG" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Receiving/Issuing Material</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="STK_SEG_LONG" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MOV_SEG_LONG" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CREATE_DELIVERY" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Create Delivery (Shipping)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>